<%- iclude('partials/header'); %>

<hi>About</hi>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit ea similique ratione inventore minus dolores totam maiores! Voluptatem quas autem nisi asperiores dicta, fuga ex veniam iusto cum quidem cupiditate provident labore libero doloremque nostrum architecto quos eos blanditiis beatae, voluptatum adipisci, deserunt ratione. Praesentium quia fuga recusandae a quo tempora iste ab vero numquam non fugiat maiores repellendus incidunt, natus voluptatibus aut libero corrupti officiis voluptas id! Porro ut, earum, illum ipsa praesentium provident quae autem commodi laudantium inventore asperiores, dolorum ullam perferendis? Aliquid dolor magnam alias debitis accusamus veniam quasi exercitationem, inventore beatae autem laboriosam nemo quae deserunt?</p>

<%- iclude('partials/footer'); %>